.headingTertiary {
  font-weight: var(--font-weight-bold);
  font-size: 2rem;
  color: var(--color-primary);
}

.headingQuaternary {
  font-weight: var(--font-weight-medium);
  color: var(--color-secondary);
  text-transform: uppercase;
}

.paragraph {
  font-weight: var(--font-weight-extra-light);
}