:root {
  --color-primary: #F07979;
  --color-secondary: #563440;
  --color-bg: #F4EBE8;

  --font-size-default: 1.4rem;
  
  --font-weight-extra-light: 300;
  --font-weight-light: 400;
  --font-weight-medium: 700;
  --font-weight-bold: 800;
}

/* BASE */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: var(--color-bg);
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-default);
}
